@theme {
   --color-primary: #56AD56;
   --color-secondary: #3D7A3D;
   --color-tertiary: #2A592A;

   --font-roboto: 'Roboto';

   --font-primary: var(--font-roboto);
}

@theme {
   --color-accent-200: var(--color-primary);
   --color-accent-600: #237b00;
   --color-accent-900: #0d3e00;
   --color-accent-950: #072d00;

   --color-gray-100: #f4f7f3;
   --color-gray-200: #eaf0e8;
   --color-gray-300: #bdc4bb;
   --color-gray-400: #82907f;
   --color-gray-500: #4f5c4d;
   --color-gray-700: #303c2d;
   --color-gray-800: #1f2a1c;
   --color-gray-900: #151a13;

   --font-sans: var(--font-primary);
}