---
import { Image } from 'astro:assets';

import book from '~/assets/book.webp';

type Props = {
	src: string;
	name?: string;
};

const { src, name } = Astro.props;
---

<a
	href={src}
	class="relative bottom-[-7px] mx-[1px] w-fit inline-flex gap-1.5 items-center text-[#2A641C]"
>
	<Image src={book} alt="Minecraft blog" class="size-6" />

	{name && name + ' • '}

	Minecraft blog
</a>
