---
import { Image } from 'astro:assets';

import book from '~/assets/book.webp';

type Props = {
	slug: string;
	name?: string;
};

const { slug, name } = Astro.props;
---

<a
	href=`https://minecraft.net/en-us/article/${slug}`
	target="_blank"
	class="relative bottom-[-7px] mx-[1px] w-fit inline-flex gap-1.5 items-center text-[#2A641C] hover:brightness-150"
>
	<Image src={book} alt="Minecraft blog" class="size-6" />

	{name && name + ' • '}

	<span>Minecraft blog</span>
</a>
