---
import Label from './label.astro';

type Props = {
	type: 'je' | 'be';
};

const { type } = Astro.props;
---

{
	type === 'je' ?
		<Label class="bg-red-500/50">
			<a href="/javaedition">JE</a> only
		</Label>
	:
		<Label class="bg-green-500/50">
			<a href="/bedrockedition">BE</a> only
		</Label>
}
