---
import { Image } from 'astro:assets';

type Props = {
	src: string;
	alt: string;
};

const { src, alt } = Astro.props;
---

<a href={src} target="_blank" class="block my-4">
	<Image src={src} alt={alt} inferSize class="rounded-xl" />
</a>
