---
type Props = {
	slug: string;
	name: string;
};

const { slug, name } = Astro.props;
---

<a
	href=`https://minecraft.wiki/w/${slug}`
	target="_blank"
	class="relative bottom-[-7px] mx-[1px] w-fit inline-flex gap-1.5 items-center text-pink-300 hover:brightness-150"
>
	<img
		src="https://minecraft.wiki/images/Favicon.ico"
		alt="Minecraft Wiki"
		class="size-5"
	/>

	<span>{name}</span>
</a>
