/* linkcard arrow animation */
.sl-link-card:hover > svg {
	@apply transition-all translate-x-1;
}

header {
	/* site title animation */
	a.site-title {
		@apply gap-2.5 transition-all hover:-translate-y-1;
	}
}

.main-pane {
	@apply w-full;

	main {
		img {
			@apply rounded-xl;
		}

		.sl-container:not(:has(.hero)) {
			@apply ml-2 max-w-full;
		}

		footer {
			/* pagination link animations */
			.pagination-links {
				> [rel="prev"]:hover > svg {
					@apply transition-all -translate-x-1;
				}

				> [rel="next"]:hover > svg {
					@apply transition-all translate-x-1;
				}
			}
		}
	}
}

aside.right-sidebar-container {
	@apply w-[400px];
}

/*  */

.hero {
	.actions {
		@apply gap-5;

		a.sl-link-button {
			@apply font-semibold;

			&:hover svg {
				@apply transition-all translate-x-1;
			}

			&.secondary {
				@apply bg-(--sl-badge-tip-bg) border-(--sl-badge-tip-border) text-(--sl-color-text-badge);

				&:hover {
					@apply bg-(--sl-badge-tip-bg)/80 border-(--sl-badge-tip-border)/80;
				}
			}
		}
	}
}
