---
import ChaseTheSkies from '~/docs/banners/chasetheskies.astro';
---

<div class="mb-5 space-y-1.5">
	<ChaseTheSkies />

	<a href="/banners" class="block w-full text-right"> View all the banners </a>
</div>
